@font-face {
    font-family: Miruna;
    src: url(Circus.ttf);
}
  
html,body{
	min-width: 100%;
	min-height: 100%;
}

body{
	background-image: url("background.jpg");
	margin:0 ;
}

header{
	text-align: center;
	font-size: 20px;
	background-color: #e62e00;
}

footer{
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:  #e62e00;
    text-align: center;
}

.title{
	text-align: center;
	margin-bottom: 50px;
	margin-top: 100px;
	font-style: italic;
	color: 	#e62e00;
	font-family: Miruna;
	font-size: 50px;
}

.menu{
	width:100%;
	display: inline-block;
	
}

.menu>ul,.submenu>ul{
	margin:0px;
	padding:0px;
	text-indent:0px;

}

.menu>ul>li,.submenu>li{
	display:block;
	font-size:1.5vw;
	font-weight:bold;
	height:1.2rem;
	text-align:center;
	line-height:1.2rem;
	list-style-type:none;
	overflow:hidden;
	padding:0px;
	margin:0px;
}

.menu>ul>li{
	float:left;
	width:25%;
}

.submenu>li{
	width:100%;
}

.menu>ul>li>a,.submenu>li>a{
	display:block;
	height:	100%;
	text-decoration:none;
}

.menu>ul>li *{
	color: black;
}
	
.menu>ul>li>.submenu{
	position:relative;
	top:0px;
}

.menu>ul>li>.submenu>li{
	border-top:1px solid black;
}

.menu>ul>li:hover{
	overflow:visible;
}

.menu>ul>li>a:hover,.submenu>li>a:hover{
	background:#75a3a3;
}

.cadran1, .cadran2, .cadran3, .cadran4{
	width: 40%;
	height: 40%;
	display: block;
	float: left;
	margin: 50px;
}

.cadran1, .cadran3{
	background-color: #75a3a3;
}

.cadran1>h2,.cadran3>h2{
	font-family: broadway;
	text-align: center;
	font-size: 40px;
}

.cadran1>ul{
	list-style-type: disc;
	font-size: 20px;
	font-weight: bold;
	margin: 80px;
}

.cadran1>table,th,td{
	border: 3px solid  #003300;
	border-collapse: collapse;
	font-size: 20px;
	margin-left: 80px;
}

.cadran2>img{
	width: 600px;
	height: 400px;
	margin: 80px;
	transition: width 2s, height 2s, transform 2s;
}

.cadran2>img:hover{
	transform: rotate(360deg);
}

.cadran3>p{
	font-size: 20px;
}

.cadran4>video{
	width: 600px;
	height: 400px;
	margin: 80px;
	margin-top: -30px;
}

@media screen and (min-width:480px) and (max-width:1023px){
	
	header{
		font-size: 15px;
	}

	footer{
		font-size: 15px;
	}

	.title{
		margin-bottom: 25px;
		margin-top: 50px;
		font-size: 30px;
	}

	.menu>ul>li{
		float:left;
		width:50%;
	}

	.menu>ul, .menu>ul>li, .submenu>li{
		background-color: #75a3a3;
	}

	.cadran1, .cadran2, .cadran3, .cadran4{
		margin: 0px;
		width: 100%;
		height: 20%;
	}	

	.cadran1>h2, .cadran3>h2{
		font-size: 20px;
	}

	.cadran1>ul{
		font-size: 15px;
		margin-left: 40px;
		margin-top: 40px;
		margin-bottom: 0px;
	}

	.cadran1>table,th,td{
		font-size: 15px;
		margin-left: 40px;
		margin-top: 40px;
	}

	.cadran2>img{
		width: 300px;
		height: 200px;
		margin: 40px;
		margin-left: 25%;
	}

	.cadran3>p{
		font-size: 15px;
	}

	.cadran4>video{
		width: 300px;
		height: 200px;
		margin: 40px;
		margin-left: 25%;
	}
}
		
@media screen and (max-width:479px){

	header{
		font-size: 10px;
	}

	footer{
		font-size: 10px;
	}

	.title{
		margin-bottom: 15px;
		margin-top: 30px;
		font-size: 20px;
	}

	.menu>ul>li{
		float:left;
		width:100%;
	}

	.menu>ul, .menu>ul>li, .submenu>li{
		background-color: #75a3a3;
	}

	.cadran1, .cadran2, .cadran3, .cadran4{
		margin: 0px;
		width: 100%;
		height: 20%;
	}	

	.cadran1{
		padding-top: 25px;
	}	

	.cadran1>h2, .cadran3>h2{
		font-size: 15px;
	}

	.cadran1>ul{
		font-size: 10px;
		margin-left: 20px;
		margin-top: 20px;
		margin-bottom: 0px;
	}	

	.cadran1>table,th,td{
		font-size: 10px;
		margin-left: 20px;
		margin-top: 20px;
	}

	.cadran2>img{
		width: 150px;
		height: 100px;
		margin: 20px;
		margin-left: 25%;
	}

	.cadran3>p{
		font-size: 10px;
	}

	.cadran4>video{
		width: 150px;
		height: 100px;
		margin: 20px;
		margin-left: 25%;
	}
}

